{% extends 'base.html' %}
{% load static %}

{% block header %}
  <h1>Add Question</h1>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
      $(document).ready(function(){
        $('.choice_formset').formset({
            addText: 'add choice',
            deleteText: 'remove'
        });
    });
  </script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_question' new_qid=new_qid new_eid=new_eid%}">
            {% csrf_token %}
            {{ question_form.as_p }}
            {{ choice_formset.management_form }}
            <table class="choice_formset">
                {{choice_formset}}
            </table>
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'create_event' new_eid=new_eid%}">Back</a>
    {% endif %}
{% endblock %}
