{% extends 'base.html' %}
{% load static %}

{% block header %}
  <h1>Add Question</h1>
  <script language="javascript" type="text/javascript">
  function cloneMore(selector, type) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + type + '-TOTAL_FORMS').val();
      newElement.find(':input').each(function() {
          var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
          $(this).attr('for', newFor);
      });
      total++;
      $('#id_' + type + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
  }
  </script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-heading">Questions</div>
      <div class="panel-body">
        <form method="post" action="{% url 'add_question' new_qid=new_qid new_eid=new_eid%}">
            {% csrf_token %}
            {{ question_form.as_p }}
            {{choice_formset.management_form}}
            {% for form in choice_formset.forms %}
              <div class='table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
            {% endfor %}
            <input type="button" value="Add a Choice" id="add_more" class="btn btn-primary" >
            <button type="submit" class="btn btn-primary" >Save</button>
        </form>
      </div>
    </div>
    <a href="{% url 'create_event' new_eid=new_eid%}" class="btn btn-primary" role="button" >Back</a>
    {% endif %}
    <script language="javascript" type="text/javascript">
        $('#add_more').click(function() {
            cloneMore('div.table:last', 'choices');
        });
    </script>
{% endblock %}
