<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">Event Info</div>
      <div class="panel-body">
        <table class="table-hover">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Event name: </th>
              <td>{{event_data.event.title}}</td>
            </tr>
            <tr>
              <th scope="row">Description: </th>
              <td>{{event_data.event.description}}</td>
            </tr>
            <tr>
              <th scope="row">Address: </th>
              <td>{{event_data.event.address}}</td>
            </tr>
            <tr>
              <th scope="row">Start time: </th>
              <td>{{event_data.event.start_time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
