{% extends 'base.html' %}

{% block header %}
  <h1>homepage</h1>
  {% if user.is_authenticated %}
    <a>Hi {{user.first_name}} !</a>
    <a href="{% url 'logout' %}">logout</a>
  {% else %}
    <a>Please log in!</a>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'create_event' new_eid=next_event_id %}">Create New Event!</a>

  <ul>
    {% for event in events %}
      {% if event.permission__permission == 0 %}
        <li>{{ event.title }} - Owner - {{event.permission__permission}}</li>
      {% elif event.permission__permission == 1 %}
        <li>{{ event.title }} - Vendor</li>
      {% elif event.permission__permission == 2 %}
        <li>{{ event.title }} - Guest</li>
      {% else %}
        <li>{{ event.title }} - Unknown - {{event.permission__permission}}</li>
    {% endif %}
    {% empty %}
    <li>Currently, you haven't attended any events.</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
