{% extends 'base.html' %}

{% block header %}

  {% if user.is_authenticated %}
    <h1>Hi {{user.first_name}} !</h1>
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <h1>Please log in!</h1>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    <a href="{% url 'create_event' new_eid=next_event_id %}" class="btn btn-info" role="button" >Create New Event!</a>
  </div>
  <div class="container">
  <h3><b>Your Events</b></h3>
  </div>
  <div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Your Permision</th>
      </tr>
    </thead>
    <tbody>
      {% for permission in permissions %}
      {% if permission.permission == 0 %}
        <tr>
          <td>{{ permission.event.title }}</td>
          <td>Owner</td>
          <td><a href="{% url 'view_event' eid=permission.event.eid permission=permission.permission%}">See Details</a></td>
        </tr>
      {% elif permission.permission == 1 %}
        <tr>
          <td>{{ permission.event.title }}</td>
          <td>Vendor</td>
          <td><a href="{% url 'view_event' eid=permission.event.eid permission=permission.permission%}">See Details</a></td>
        </tr>
      {% elif permission.permission == 2 %}
        <tr>
          <td>{{ permission.event.title }}</td>
          <td>Guest</td>
          <td><a href="{% url 'view_event' eid=permission.event.eid permission=permission.permission%}">See Details</a></td>
        </tr>
    {% endif %}
    {% empty %}
    <tr>Currently, you haven't attended any events.</tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="container">

</div>
{% endif %}
{% endblock %}
