{% extends 'base.html' %}

{% block header %}
  <h1>homepage</h1>
  {% if user.is_authenticated %}
    <a>Hi {{user.first_name}} !</a>
    <a href="{% url 'logout' %}">logout</a>
  {% else %}
    <a>Please log in!</a>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'create_event' new_eid=next_event_id %}">Create New Event!</a>

  <ul>
    {% for permission in permissions %}
      {% if permission.permission == 0 %}
        <li><a href="{% url 'view_event' eid=permission.event.eid permission=permission.permission%}">{{ permission.event.title }} - Owner</a></li>
      {% elif permission.permission == 1 %}
        <li><a href="{% url 'view_event' eid=permission.event.eid permission=permission.permission%}">{{ permission.event.title }} - Vendor</a></li>
      {% elif permission.permission == 2 %}
        <li><a href="{% url 'view_event' eid=permission.event.eid permission=permission.permission%}">{{ permission.event.title }} - Guest</a></li>
      {% else %}
        <li><a href="{% url 'view_event' eid=permission.event.eid permission=permission.permission%}">{{ permission.event.title }} - Unknown</a></li>
    {% endif %}
    {% empty %}
    <li>Currently, you haven't attended any events.</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
