{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
<h1>Django Simple Login</h1>
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <a href="{% url 'logout' %}">logout</a>
  {% else %}
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="/rsvpapp/homepage" />
        <button type="submit">Login</button>
    </form>
    <p><a href="{% url 'register' %}">Create an account</a></p>
  {% endif %}

{% endblock %}
