{% extends 'base.html' %}

{% block header %}<h1>View Event</h1>{% endblock %}



{% block content %}
    {% include 'event_info.html' %}
    {% if user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-heading">Questions</div>
      <div class="panel-body">
        <div class="panel-group">
        <form method="post" action="{% url 'add_answer' eid=eid %}">
            {% csrf_token %}
            {% for question in event_data.questions %}
              <div class="panel panel-default">
              <div class="panel-heading">{{question.question}}</div>
              <div class="panel-body">
              <div class="list-group">
                {% if question.q_type == 0 %}
                    {% for choice in question.choice %}
                        {% if choice in checked_choice.choices %}
                            <input type="checkbox", name="{{event_data.event.title}}#{{question.question}}#1", value="{{event_data.event.title}}#{{question.question}}#{{choice.choice}}#1", checked>{{choice.choice}}
                        {% else %}
                            <input type="checkbox", name="{{event_data.event.title}}#{{question.question}}#1", value="{{event_data.event.title}}#{{question.question}}#{{choice.choice}}#1">{{choice.choice}}
                        {% endif %}
                    {% endfor %}
                {% elif question.q_type == 1 %}
                    {% for choice in question.choice %}
                        {% if choice in checked_choice.choices %}
                            <input type="radio", name="{{event_data.event.title}}#{{question.question}}#1", value="{{event_data.event.title}}#{{question.question}}#{{choice.choice}}#1", checked>{{choice.choice}}
                        {% else %}
                            <input type="radio", name="{{event_data.event.title}}#{{question.question}}#1", value="{{event_data.event.title}}#{{question.question}}#{{choice.choice}}#1">{{choice.choice}}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div>{{question.q_type}}</div>
                {% endif %}
                <br><br>
                </div>
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
    {% include 'homepage_back.html' %}
    {% endif %}
{% endblock %}
