{% extends 'base.html' %}

{% block header %}
<a href="{% url 'create_event' new_eid=event_data.event.eid %}" class="btn btn-primary" role="button" >Edit Event</a>
{% endblock %}

{% block content %}
    {% include "event_info.html" %}
          <div class="panel panel-default">
            <div class="panel-heading">Added Owners</div>
              <div class="panel-body">
                {% include "users_text.html" with users=owners empty_text="No Owner Added."%}
              </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Added Vendors</div>
              <div class="panel-body">
                {% include "users_text.html" with users=vendors empty_text="No Vendor Added."%}
              </div>
            </div>
        <div class="panel panel-default">
          <div class="panel-heading">Added Guests</div>
            <div class="panel-body">
              {% include "users_text.html" with users=guests empty_text="No Guest Added."%}
              </form>
            </div>
        </div>

        {% include "question_list_not_editable.html" with questions=event_data.questions eid=event_data.event.eid  new_qid=qid permission=0%}

        <a href="{% url 'homepage' %}" class="btn btn-primary" role="button" >Back</a>
{% endblock %}
