{% extends 'base.html' %}

{% block header %}
  <h1>{{event_data.event.title}}</h1>
  <div>Description: {{event_data.event.description}}</div>
  <div>Address: {{event_data.event.address}}</div>
  <div>Start time: {{event_data.event.start_time}}</div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
      <div>
      <h5>Added Owners:</h5>
      <ul>
        {% for owner in owners %}
        <p>{{owner.username}}  ({{owner.first_name}} {{owner.last_name}})</p>
        {% endfor %}
      </ul>
      <form method="post" action="{% url 'add_owner' eid=eid %}">
        {% csrf_token %}
        {{owner_form.as_p}}
        <input type="hidden" name="permission" value=0>
        <button type="submit">Add Owner</button>
      </form>

      <h5>Added Vendors:</h5>
      <ul>
        {% for vendor in vendors %}
        <p>{{vendor.username}}  ({{vendor.first_name}} {{vendor.last_name}})</p>
        {% endfor %}
      </ul>
      <form method="post" action="{% url 'add_vendor' eid=eid %}">
        {% csrf_token %}
        {{vendor_form.as_p}}
        <input type="hidden" name="permission" value=1>
        <button type="submit">Add Vendor</button>
      </form>

      <h5>Added Guests:</h5>
      <ul>
        {% for guest in guests %}
        <p>{{guest.username}}  ({{guest.first_name}} {{guest.last_name}})</p>
        {% endfor %}
      </ul>
      <form method="post" action="{% url 'add_guest' eid=eid %}">
        {% csrf_token %}
        {{guest_form.as_p}}
        <input type="hidden" name="permission" value=2>
        <button type="submit">Add Guest</button>
      </form>
    </div>
        {% for question in event_data.questions %}
            <div>{{question.question}}</div><br>
            {% for choice in question.choice %}
              <input type="checkbox">{{choice.choice}}<br>
            {% endfor %}
        {% endfor %}
        <a href="{% url 'homepage' %}">Back</a>
        <a href="{% url 'create_event' new_eid=event_data.event.eid %}">Edit Event</a>
    {% endif %}
{% endblock %}
